* {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box;
}

@font-face {
  font-family: "yekan";
  src: url("../fonts/Yekan.eot?#") format("eot"), url("../fonts/Yekan.woff") format("woff"), url("../fonts/Yekan.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "iransans";
  src: url("../fonts/IRANSansWeb.eot") format("eot"), url("../fonts/IRANSansWeb.woff") format("woff"), url("../fonts/IRANSansWeb.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "hekayat";
  src: url("../fonts/hekayat.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
::-webkit-scrollbar, ::-webkit-scrollbar-corner {
  background-color: #212529;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #bc8c4c;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #bc8c4c;
}

body {
  font-family: hekayat, yekan, iransans;
  direction: rtl;
  font-size: 20px;
}

.header-bg, .footer-bg {
  background-color: #212529;
  min-height: 8vh;
}

.header {
  display: flex;
  align-items: center;
  min-height: 8vh;
  justify-content: space-between;
}
.header a {
  color: #bc8c4c;
  text-decoration: none;
  display: block;
}
.header a:hover {
  color: #9b713a;
}
.header span {
  color: #fff;
  cursor: pointer;
  margin-right: 10px;
}
.header img {
  width: 55px;
}

.nav-bg {
  background-color: #212529;
  border-top: 0.5px solid #313131;
}

.nav-link {
  text-align: center;
  margin: 0px 10px !important;
}
.nav-link:focus, .nav-link:active {
  color: #bc8c4c !important;
}

.intro {
  background: url(../images/header.jpg) no-repeat center center fixed;
  min-height: 600px;
  background-size: cover;
  background-position: fixed;
}
.intro .overlay-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 37, 41, 0.85);
}
.intro .overlay {
  display: flex;
  justify-content: center;
  align-content: center;
}
.intro .overlay img {
  width: 200px;
  margin-top: 80px !important;
  filter: drop-shadow(0 0 40px rgba(206, 212, 218, 0.4));
  margin: auto;
}
@media screen and (max-width: 767px) {
  .intro .overlay img {
    margin-top: 20px !important;
  }
}
.intro .overlay p, .intro .overlay h1 {
  color: #fff;
  font-size: 35px;
  text-align: center;
  margin-top: 20px;
}
@media screen and (max-width: 345px) {
  .intro .overlay p, .intro .overlay h1 {
    font-size: 25px;
  }
}
.intro .overlay h1 {
  font-size: 100px;
  margin-top: 0px;
}
@media screen and (max-width: 767px) {
  .intro .overlay h1 {
    font-size: 70px;
  }
}
@media screen and (max-width: 456px) {
  .intro .overlay h1 {
    font-size: 50px;
  }
}
@media screen and (max-width: 345px) {
  .intro .overlay h1 {
    font-size: 40px;
  }
}
.intro .overlay a {
  text-decoration: none;
  color: #fff;
  background-color: #bc8c4c;
  text-align: center;
  margin-top: 20px !important;
  font-size: 30px;
  margin: auto;
}
.intro .overlay a:hover {
  color: #000;
}

.about {
  margin-top: 50px !important;
  margin: auto;
}

.work-time {
  margin: auto;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  .work-time a {
    display: none !important;
  }
}
@media screen and (max-width: 575px) {
  .work-time {
    text-align: center;
  }
  .work-time a {
    display: block !important;
  }
}
@media screen and (max-width: 1199px) {
  .work-time {
    margin-top: 30px !important;
  }
  .work-time p, .work-time .intro .overlay h1, .intro .overlay .work-time h1 {
    font-size: 18px;
  }
}
@media screen and (max-width: 991px) {
  .work-time {
    margin-top: 0px !important;
  }
  .work-time h1 {
    font-size: 30px;
  }
  .work-time p, .work-time .intro .overlay h1, .intro .overlay .work-time h1 {
    font-size: 16px;
  }
}
.work-time a {
  text-decoration: none;
  color: #fff;
  background-color: #bc8c4c;
  text-align: center;
  margin-top: 20px !important;
  font-size: 20px;
  margin: auto;
  display: block;
}

.designe {
  margin-top: 50px;
}

.menu {
  margin-top: 50px;
  display: flex;
}
.menu h1 {
  text-align: center;
}

.img-card {
  width: 100px;
  height: 100px;
  margin-left: 10px;
}
@media screen and (max-width: 456px) {
  .img-card {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 345px) {
  .img-card {
    width: 60px;
    height: 60px;
  }
}

.cardd {
  text-decoration: none;
  color: #000;
}
.cardd:hover {
  color: #bc8c4c !important;
}
.cardd:hover .dish-body {
  color: #bc8c4c !important;
}

.price {
  color: #bc8c4c;
}

.dish-body {
  color: #65727e !important;
}
@media screen and (max-width: 991px) {
  .dish-body {
    font-size: 17px;
  }
}

.dish-card {
  margin-top: 20px;
}

.menu-bg {
  background: url(../images/section.jpg) no-repeat center center fixed;
  min-height: 700px;
  background-size: cover;
  background-position: fixed;
  margin-top: 50px;
}
@media screen and (max-width: 1399px) {
  .menu-bg {
    min-height: 800px !important;
  }
}
@media screen and (max-width: 991px) {
  .menu-bg {
    min-height: 900px !important;
  }
}
@media screen and (max-width: 767px) {
  .menu-bg {
    min-height: 1200px !important;
  }
}
@media screen and (max-width: 324px) {
  .menu-bg {
    min-height: 1300px !important;
  }
}

.overlay-menu-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 37, 41, 0.85);
}

.overlay-menu {
  display: flex;
  justify-content: center;
  align-content: center;
}
.overlay-menu .menu-title {
  color: #fff;
  font-size: 50px;
  text-align: center;
  margin-top: 80px;
}
@media screen and (max-width: 345px) {
  .overlay-menu .menu-title {
    font-size: 25px;
  }
}

.menu-btn-box {
  display: flex;
}

.menu-btn {
  text-decoration: none;
  color: #fff;
  background-color: #bc8c4c;
  text-align: center;
  font-size: 20px;
  margin: auto;
  display: block;
  padding: 0px 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.menu-list-bg {
  min-height: 700px;
}

.team, .content-items, .content, .clients-items, .Clients {
  margin-top: 50px;
}
.team h1, .content-items h1, .content h1, .clients-items h1, .Clients h1 {
  text-align: center;
}

.card {
  text-align: center;
  margin-top: 50px;
  cursor: pointer;
}
.card img {
  width: 50%;
  margin: auto;
}
@media screen and (max-width: 767px) {
  .card img {
    width: 30%;
  }
}

.COSIAL a {
  color: #bc8c4c !important;
  font-size: 20px;
  margin: 0px 15px;
}
.COSIAL a:hover {
  color: #9b713a !important;
}

.Clients-title span {
  font-size: 30px;
}
.Clients-title img {
  width: 70px;
  margin-left: 20px;
}

.form-group {
  margin-top: 30px;
}
.form-group input, .form-group select {
  font-size: 20px !important;
}

.btn-contact a {
  text-decoration: none;
  color: #fff;
  background-color: #bc8c4c;
  text-align: center;
  font-size: 20px;
  margin: auto;
  display: block;
  padding: 0px 50px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.form-contact {
  height: 100%;
  display: flex;
  align-content: space-around;
}

.footer-bg {
  margin-top: 50px;
}

.footer {
  display: flex;
  align-items: center;
  justify-items: center;
  min-height: 8vh !important;
}

.footer-img {
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .footer-img {
    justify-content: center;
  }
}
.footer-img img {
  width: 100px;
  margin: 30px;
  filter: drop-shadow(0 0 40px rgba(206, 212, 218, 0.4));
  cursor: pointer;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: start;
  min-height: 100px;
}
@media screen and (max-width: 767px) {
  .footer-links {
    justify-content: center;
  }
}
.footer-links a {
  color: #fff;
  text-decoration: none;
  min-width: 15% !important;
  margin: 0px 10px;
  text-align: center;
}
.footer-links a:hover {
  color: #d3d3d3;
}

.copyright {
  min-height: 5vh !important;
  background-color: #212529;
  border-top: 0.5px solid #313131;
  display: flex;
  justify-content: space-between;
  color: #fff;
  cursor: pointer;
}
.copyright a {
  color: #bc8c4c;
  text-decoration: none;
}
.copyright span {
  text-align: left;
}
.copyright span, .copyright a {
  margin: 10px 0px !important;
}
@media screen and (max-width: 767px) {
  .copyright span, .copyright a {
    text-align: center;
  }
}

.copyright-social {
  margin-top: 10px !important;
}
.copyright-social a {
  color: #fff !important;
  margin: 0px 10px !important;
}
.copyright-social a:hover {
  color: #d3d3d3 !important;
}
@media screen and (max-width: 767px) {
  .copyright-social a {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */